[Desktop Entry] 
Type=Application
Name=Pobkup
GenericName=Pobkup 
Comment=A simple gui to Rsync!
Exec=pobkup
Icon=/usr/lib/pobkup/icons/icon.png
Terminal=FALSE
StartupNotify=TRUE
Categories=Utility;
